html,
body {
	height: 100%;
	background: rgba(241, 241, 241, 1);

}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	clear: both;
	content: "";
	display: table;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

ul li:last-child {
	margin-bottom: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
}

button,
label,
a {
	cursor: pointer;
}

input,
button,
textarea {
	background: none;
	border: none;
	outline: none;
	display: block;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input::placeholder {
	color: inherit;
}

input,
textarea {
	display: block;
	resize: none;
}

.container {
	max-width: 1330px;
	width: 100%;
	min-width: 320px;
	margin: 0 auto;
	padding: 0 15px;
}

.dn {
	display: none;
}

.flex {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.container1 {
	background: #000;
}

.header_txt {
	color: #fff;
	text-align: center;
	font-family: "Roboto";
	font-size: 20px;
	font-weight: 400;
	line-height: 18px;
	padding: 16px 70px 16px 70px;
}

.head {
	width: 100%;
	background: none;
	position: relative;
	z-index: 99 !important;
}

.logo {
	padding-top: 10px;
	position: absolute;
	text-align: center;
	margin-left: 210px;

}

@keyframes zoomInOut {

	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.8);
	}
}



.menu__box {
	padding: 20px 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 64px;

}

.menu__box li a {
	font-family: "Roboto";
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 1px;
	transition: 1s;
	transform: scale(1);

}

.menu__box li:nth-child(4) {
	padding-left: 300px;
}

.menu__box li a:hover {
	color: #000
}

.main {
	margin-top: -60px;
}

.main_left {
	width: 50%;
	background: url(../img/main2.jpg) no-repeat;
}

.main_right {
	width: calc(100% - 50%);
	background-color: #996B60;
	padding-left: 60px;
}


.head {
	background: #D8BF95;
	height: 40px;

}

.head_txt {
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: center;
	padding-top: 11px;

}

a {
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;

}

.menu__box li a {
	font-family: "Roboto";
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 1px;
	transition: 1s;
	transform: scale(1);

}

.menu__box li:first-child {
	margin-left: 30px;
	margin-right: 265px;
}


.menu__box li:nth-child(4) {
	padding-left: 300px;
}

.menu__box li a:hover {
	color: #000
}

.main {
	margin-top: -60px;
}

.main_left {
	width: 50%;
	background: url(../img/main2.jpg) no-repeat;
}

.main_right {
	width: calc(100% - 50%);
	background-color: #996B60;
	padding-left: 60px;
}

.menu {
	background: white;
}

.muel_imgs {
	display: flex;
}

.muel_img {
	width: 1440px;
	height: 624px;
}

.muel_img:first-child {
	background: url(../img/img1.jpg) no-repeat;

}

.muel_img:nth-child(2) {
	background: url(../img/img2.jpg) no-repeat;
}

.muel_img:last-child {
	background: url(../img/img3.jpg) no-repeat;
}

.muel_txt {
	font-family: Roboto;
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
	display: flex;
	color: #fff;
	margin-top: 60px;
	margin-left: 30px;
}

.muel_txt:first-child {
	margin-top: 580px;
}

.muel_tit {
	text-align: left;
	margin-top: 500px;
	margin-left: 330px;
	font-family: Roboto;
}

.info_tit {
	font-family: Roboto;
	font-size: 64px;
	font-weight: 400;
	line-height: 64px;
	text-align: left;
	margin-top: 120px;
	width: 892px;
	height: 256px;
	top: -11px;
	color: #000000;
	margin-bottom: 42px;
	margin-left: 60px;


}


.info_txt {
	font-family: Roboto;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	width: 815px;
	height: 25px;
	top: 44px;
	margin-left: 60px;


}

.info_shop {
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
	display: flex;
	justify-content: flex-end;
	margin-top: -295px;


}

.jewerly_in {
	margin-left: 65px;
	margin-top: 420px;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	text-align: left;

}

.jewerly_tit {
	margin-top: 67px;
	margin-left: 83px;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;

}

.jewerly_img {
	width: 341px;
	height: 443px;
	top: 159px;

}

.jewerly_content {
	display: flex;
}

.jewerly_tit :last-child {
	top: -2px;
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
}

.jewerly_price {
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	margin-left: 83px;


}

.jewerly_price_info {
	margin-top: 530px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;

}

.jewerly_price_info_second {
	margin-left: 400px;
	margin-top: -20px;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;

}

.models_cards {
	display: flex;
}

.models {
	margin-top: 170px;

}

.img_model_tit {
	margin-left: 52px;
	margin-top: 57px;
	font-family: Roboto;
	font-size: 44px;
	font-weight: 400;
	line-height: 60px;
	letter-spacing: 0em;


}

.img_model_txt {
	margin-top: -140px;
	margin-right: 0px;
	text-align: center;
	font-family: Roboto;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: left;
	margin-left: 40px;
}

.img_model {
	width: 620px;
	top: 50px;
	left: 50px;
	margin-top: 0px;
}

.details_tit {
	margin-top: 48px;
	margin-left: 30px;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: left;
	margin-bottom: 0px;

}

.details_cards {
	gap: 25px;
	width: 1312px;
	height: 587.72px;
	top: 69.72px;
	left: 64px;
	margin-bottom: 50px;
	
}


.details_card :first-child {
	background: url(../img/details1.jpg);
	width: 421.33px;
	height: 547.72px;

}